.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort{
    display: flex;
    align-items: center;
}

.sort-by-label{
    width: 50%;
}

.product-main-title{
    font-size: 18px;
}

.bottom-section{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.custom-pagination{
    margin-top: 30px;
}

.custom-pagination .page-link {
    color: #1E2228;
}
.custom-pagination .page-item.active .page-link{
    color: #FF2C91;
    background:none;
    border-color: #FF2C91;
}